Error: the length value 1 is not larger than 1

Hi,
I used this YANG model to reproduce this error:.

```
module example123 {
  namespace "http://google.com/test";
  prefix "test";
  leaf short-string {
    type string {
      length "1..1";
    }
  }
}
```
The error reports when running the command: 


```
%%% yanger example123.yang -f tree
example123.yang:6: error: the length value 1 is not larger than 1
```

This occurs irrespective of using yang 1.0 or 1.1, RFC 7950 section 9.4.4 says that any non negative length should be possible.

`A length value is a non-negative integer or one
   of the special values "min" or "max".  "min" and "max" mean the
   minimum and maximum lengths accepted for the type being restricted,
   respectively.  An implementation is not required to support a length
   value larger than 18446744073709551615.`

Besides, another error reports related with length when setting length "min..min":
```
module example123 {
  namespace "http://google.com/test";
  prefix "test";
  leaf short-string {
    type string {
      length "min..min";
    }
  }
}
```

```
%%% yanger example123.yang -f tree
example123.yang:6: error: the length value 0 is not larger than 0
```

I think yanger should also cover above case according to the YANG RFC.

commit to fix it: https://github.com/mbj4668/yanger/commit/514d26f9ca579fa4b5fa92feae2943d96d7b237b

I don't think this is a bug.   The  RFC says:
```
If multiple values or ranges are given, they all MUST
be disjoint and MUST be in ascending order.
```
This could probably be clarified, but the current behavior is also consistent with pyang.